.introduction {
  .flex-column();
  align-items: center;
  @media @mobile {
    display: none;
  }
}
.introduction h1 {
  font-family: "Fira Mono";
  font-size: 4rem;
}
.introduction .centred {
  color: #2e4ff2;
  text-transform: uppercase;
  font-family: "Adam Pro";
}
.image img {
  width: 80%;
  margin: 0 auto;
  border: 10px solid grey;
  @media @mobile {
    width: 80%;
    height: 250px;
  }
}
.features {
  width: 80%;
  margin: 10px auto;
  .flex-row();
  flex-wrap: wrap;
  justify-content: space-between;
}
.first {
  .flex-row();
  justify-content: space-between;
  margin: 1% 0;
}
.first div {
  padding: 20px;
  width: 48%;
  background-color: lightskyblue;
  font-size: 14px;
  border: 0.5px solid grey;
  border-radius: 5px;
  @media @mobile {
    width: 100%;
  }
}
.first img {
  width: 48%;
  border: 0.5px solid grey;
  border-radius: 5px;
  @media @mobile {
    display: none;
  }
}
.second {
  .flex-row();
  justify-content: space-between;
  margin: 1% 0;
}
.second div {
  padding: 20px;
  width: 48%;
  background-color: lightskyblue;
  font-size: 14px;
  border: 0.5px solid grey;
  border-radius: 5px;
  @media @mobile {
    width: 100%;
  }
}
.second img {
  width: 48%;
  border: 0.5px solid grey;
  border-radius: 5px;
  @media @mobile {
    display: none;
  }
}
.reviews {
  display: flex;
  @media @mobile {
    display: flex;
    flex-direction: column;
  }
}
.reviews div {
  width: 30%;
  text-align: justify;
  margin: 1% 1% 1% 0;
  padding: 1% 1% 1% 0;
  @media @mobile {
    width: 100%;
  }
}
.container {
  width: 80%;
  margin: 0 auto;
}
.team-cards {
  .flex-row();
  justify-content: space-between;
  flex-wrap: row wrap;
}
.card {
  width: 50%;
  border: 2px solid grey;
  margin: 2%;
}
.card img:hover {
  transform: scale(1.2);
}
footer {
  width: 80%;
  margin: 0 auto;
  font-family: "Junction";
  font-size: 1.2rem;
  text-align: center;
}
