.introduction {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.introduction h1 {
  font-family: "Fira Mono";
  font-size: 4rem;
}
.introduction .centred {
  color: #2e4ff2;
  text-transform: uppercase;
  font-family: "Adam Pro";
}
.image img {
  width: 80%;
  margin: 0 auto;
  border: 10px solid grey;
}
.features {
  width: 80%;
  margin: 10px auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}
.first {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 1% 0;
}
.first div {
  padding: 20px;
  width: 48%;
  background-color: lightskyblue;
  font-size: 14px;
  border: 0.5px solid grey;
  border-radius: 5px;
}
.first img {
  width: 48%;
  border: 0.5px solid grey;
  border-radius: 5px;
}
.second {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 1% 0;
}
.second div {
  padding: 20px;
  width: 48%;
  background-color: lightskyblue;
  font-size: 14px;
  border: 0.5px solid grey;
  border-radius: 5px;
}
.second img {
  width: 48%;
  border: 0.5px solid grey;
  border-radius: 5px;
}
.reviews {
  display: flex;
}
.reviews div {
  width: 30%;
  text-align: justify;
  margin: 1% 1% 1% 0;
  padding: 1% 1% 1% 0;
}
footer {
  width: 80%;
  margin: 0 auto;
  font-family: "Junction";
  font-size: 1.2rem;
  text-align: center;
}
