header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 80%;
  margin: 0 auto;
  padding: 5px;
}

header h1 {
  font-family: "Adam Pro";
  font-size: 3.3rem;
}

nav {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  font-family: "Adam Pro";
}

nav a {
  padding: 5px;
  text-decoration: none;
  font-size: 1.4rem;
  margin: 10px;
}
.prompt {
  background-color: #4accce;
}
